@{
  Layout = "_Layout";
}

<div class="parent">

  <div class="home-title">
    <p>Eau Claire's Salon</p>
  </div>
  
</div>

@model HairSalon.Models.Stylist

<div class="parent">
  <div class="page-content">
    <h4 class="sub-title">Add a new Stylist to your Salon</h4>
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)
      <input type="submit" value="Add new stylist" />
    }
    <p class="link">@Html.ActionLink("Show all your stylists", "Index")</p>
  </div>
</div>


