@{
  Layout = "_Layout";
}

<div class="parent">

  <div class="home-title">
    <p>Eau Claire's Salon</p>
  </div>
  
</div>

@model HairSalon.Models.Stylist

<h4>Add a new Stylist to your Eau Claire's Salon</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all your stylists", "Index")</p>