@{
  Layout = "_Layout";
}

<div class="parent">

  <div class="home-title">
    <p>Eau Claire's Salon</p>
  </div>
  
</div>

@model HairSalon.Models.Stylist

<div class="parent">
  <div class="page-content">
    <h2 class="sub-title">Are you sure you want to delete a stylist from your roster?</h2>

    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    @using (Html.BeginForm())
    {
      <input type="submit" value="Delete" />
    }
    @Html.ActionLink("Back to stylists", "Index")
  </div>
</div>



