body {
  margin: 8%;
  background-color: #fff0d9;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.home-title {
  font-family:serif;
  font-weight: bold;
  line-height: 95px;
  border: 2px dotted #61AAF4;
  border-radius: 50%;
  width: 325px;
  height: 325px;
  color: #F6441E;
  text-align: center;
  font-size: 78pt;
}

.page-content {
  border: 1px solid #F6441E;
  background-color: white;
  border-radius: 15px;
  width: 400px;
  height: auto;
  text-align: center;
}

.sub-title {
  color: #61AAF4;
  margin-top: 10px;
  font-size: 25pt;
  font-family: serif;
  font-weight: bold;
}