body {
  margin: 8%;
  background-color: #fff0d9;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.home-title {
  font-family:serif;
  font-weight: bold;
  line-height: 95px;
  border: 2px dotted #61AAF4;
  border-radius: 50%;
  width: 325px;
  height: 325px;
  color: #F6441E;
  text-align: center;
  font-size: 78pt;
}

.page-content {
  font-family: monospace;
  border: 1px solid #F6441E;
  background-color: white;
  border-radius: 15px;
  width: 550px;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}

.sub-title {
  color: #61AAF4;
  margin-top: 10px;
  font-size: 30pt;
  margin-bottom: 20px;
}

a {
  color:#F6441E;
}

.btn-default {
  color:#F6441E;
}

.list-results {
  line-height: 25px;
  font-size: 20pt;
  margin-bottom: 20px;
}

.bigger-info {
  font-size: 18pt;
}