@{
  Layout = "_Layout";
}
<div class="parent">

  <h1 class="home-title">Eau Claire's Salon</h1>
  
</div>
<div class="home-content">
  <h2 class="sub-title">Stylist/Client Directory</h2>
  @if (Model.Count > 0)
  {
    <p>@Html.ActionLink("See all your Clients.", "Index", "Clients")</p>
  }
  <p>@Html.ActionLink("See all your Stylists.", "Index", "Stylists")</p>
</div>