@{
  Layout = "_Layout";
}
<img id="croissant1" src="~/img/croissant.png" alt="croissant icon">
<img id="scissors1" src="~/img/scissors.png" alt="scissors icon">
<img id="croissant2" src="~/img/croissant.png" alt="croissant icon">
<img id="scissors2" src="~/img/scissors.png" alt="scissors icon">
<div class="parent">

  <div class="home-title">
    <p>Eau Claire's Salon</p>
  </div>
  
</div>
<div class="parent">
  <div class="page-content">
    <h2 class="sub-title">Stylist/Client Directory</h2>
    @if (Model.Count > 0)
    {
      <p>@Html.ActionLink("See all your Clients.", "Index", "Clients")</p>
    }
    <p>@Html.ActionLink("See all your Stylists.", "Index", "Stylists")</p>
  </div>
</div>